/*палитра цветов макета*/
/*цвет главного героя, кнопки*/
color: #ffffff;
/*фон кнопки*/
color: #2196f3;
/*цвет меню*/
color: #212121;
/* цвет основного теста*/
color: #757575;
/*текст автора сайта*/
color: rgba(255, 255, 255, 0.4);
/*текст адрес футер*/
color: rgba(255, 255, 255, 0.6);
/*кнопка деятельности фон*/
background: rgba(47, 48, 58, 0.8);
/*фон кнопок особенности*/
background: #f5f4fa;
/*footer*/
background: #e5e5e5;
